.container {
  padding: 120px 0 0 30px;
  background-color: #151e2b;
  color: azure;
}

h2 {
  padding: 0 0 20px 0;
  text-shadow: 3px 3px 15px #56b54e;
  font-size: 32px;
}

label {
  padding: 0 20px 0 20px;
}

input {
  border-style: solid;
  border-color: #56b54e;
  border-radius:8px;
}
select {
  border-style: solid;
  border-color: #56b54e;
  border-radius: 8px;
}

.companies {
  padding: 20px 10px 0 30px;
  background-color: #151e2b;
  color: azure;
}

h3 {
  padding: 0 0 20px 0;
  color: #56b54e;
  font-size: 24px;
  text-shadow: 0.5px 0.5px #ffffff;
}

button {
  padding: 0 20px 0 20px;
  margin: 0 20px 20px 8px;
  color: aliceblue;
  background-color: #1c2838;
  border-style: solid;
  border-color: #56b54e;
  border-radius: 8px;
}
button:hover {
  background-color: #364a63;
}
h4 {
  padding: 10px 0 30px 0;
  font-size: 18px;
}
p {
  font-size: 18px;
}

