.supro {
  background-color: #151e2b;
  padding: 100px 0 0 0;
  color: aliceblue;
}
h1 {
  padding: 20px 0 20px 0;
  text-shadow: 3px 3px 15px #56b54e;
}

h2 {
  padding: 20px 0 20px 0;
  text-shadow: 3px 3px 15px #56b54e;
}

label {
  padding: 0px 20px 0px 20px;
  text-shadow: 1px 1px #56b54e;
  font-size: 24px;
}

input {
  border-style: solid;
  border-color: #56b54e;
  border-radius: 8px;
}
textarea {
  border-style: solid;
  border-color: #56b54e;
  border-radius: 8px;
}
select {
  border-style: solid;
  border-color: #56b54e;
  border-radius: 8px;
}

button {
  padding: 0 20px 0 20px;
  margin: 20px 20px 20px 8px;
  color: aliceblue;
  background-color: #1c2838;
  border-style: solid;
  border-color: #56b54e;
  border-radius: 8px;
}

h3 {
  padding: 0 0 20px 0;
  color: #56b54e;
  font-size: 24px;
  text-shadow: 0.5px 0.5px #ffffff;
}

th {
  padding: 20px 0 20px 0;
  text-shadow: 1px 1px #56b54e;
  font-size: 20px;
}

p {
  font-size: 18px;
}
