/* supply.component.css */
.supply-management {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.supply-list {
  margin-top: 20px;
  border: 1px solid #eee;
  border-radius: 8px;
}

.supply-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #eee;
}

  .supply-item:hover {
    background-color: #f9f9f9;
  }

.supplys {
  background-color: #151e2b;
  padding: 100px 0 0 30px;
  color: aliceblue;
}

h2 {
  padding: 20px 0 20px 0;
  text-shadow: 3px 3px 15px #56b54e;
  font-size:32px;
}

label {
  padding: 0px 20px 0px 20px;
  text-shadow: 1px 1px #56b54e;
  font-size : 24px;
}

input {
  border-style: solid;
  border-color: #56b54e;
  border-radius: 8px;
}

button {
  padding: 0 20px 0 20px;
  margin: 20px 20px 20px 8px;
  color: aliceblue;
  background-color: #1c2838;
  border-style: solid;
  border-color: #56b54e;
  border-radius: 8px;
}
  button:hover {
    background-color: #364a63;
  }
select {
  border-style: solid;
  border-color: #56b54e;
  border-radius: 8px;
}
h3 {
  padding: 0 0 20px 0;
  color: #56b54e;
  font-size: 24px;
  text-shadow: 0.5px 0.5px #ffffff;
}

table {
  width: 90%;
  margin: 20px 0 30px 60px;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  background-color: #1c2838;
  color: white;
  border: 2px solid #56b54e;
}

th {
  padding: 20px 0;
  text-shadow: 1px 1px #56b54e;
  font-size: 20px;
  border: 1px solid #56b54e;
}

td {
  padding: 20px 220px 20px 220px;
  border: 1px solid #56b54e;
}
tr:hover {
  background-color: #364a63;
}
p {
  font-size: 18px;
}
.chart-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 20px;
  background-color: #151e2b;
  max-width: 500px;
  margin: 0 auto;
}

  .chart-container canvas {
    width: 100%;
    max-width: 350px;
    aspect-ratio: 1 / 1; 
    background-color: #1e2b3c;
    border: 2px solid #56b54e;
    border-radius: 10px;
  }

